<ion-header translucent>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cadastro-content" fullscreen>
  <ion-grid class="cadastro-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <h2 class="cadastro-title">Olá! Realize seu cadastro para continuar.</h2>

        <div class="login-inputs">
          <ion-item lines="inset">
            <ion-input label="Nome" label-placement="floating" placeholder="Digite seu nome"></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-input label="E-mail" label-placement="floating" placeholder="Digite seu e-mail"></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-input label="Senha" type="password" label-placement="floating" placeholder="Digite sua senha"></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-input label="Telefone" label-placement="floating" placeholder="Digite seu telefone"></ion-input>
          </ion-item>
        </div>

        <ion-button class="brown-button" expand="block" [routerLink]="['/']">Fazer Cadastro</ion-button>
        <ion-button fill="clear" color="medium" expand="block" [routerLink]="['/']">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
