<!-- Cabeçalho -->
<header class="header">
  <div class="toolbar">
    <h1 class="logo-title">LUME FILMS</h1>
  </div>
</header>

<!-- Conteúdo principal -->
<main class="login-content">
  <h2 class="login-title">Criar Conta</h2>

  <form class="login-inputs" (submit)="cadastrar(); $event.preventDefault()">
    <div class="input-group">
      <label for="nome">Nome completo</label>
      <input id="nome" type="text" placeholder="Digite seu nome" required />
    </div>

    <div class="input-group">
      <label for="email">E-mail</label>
      <input id="email" type="email" placeholder="Digite seu e-mail" required />
    </div>

    <div class="input-group">
      <label for="senha">Senha</label>
      <input id="senha" type="password" placeholder="Crie uma senha" required />
    </div>

    <div class="input-group">
      <label for="confirmar">Confirmar Senha</label>
      <input id="confirmar" type="password" placeholder="Confirme sua senha" required />
    </div>

    <button type="submit" class="rounded-button">
      CADASTRAR
    </button>
  </form>

  <hr class="divider" />

  <div class="login-links">
    <button class="header-icon" aria-label="ja tem conta" (click)="voltarHome()">
      &#8592;
    </button>
  </div>
</main>
