<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>

<!-- Menu lateral -->
<nav [class.active]="menuAberto" class="sidebar sidebar-right">
  <ul>
    <li><a routerLink="/" (click)="toggleMenu()">Buscar</a></li>
    <li><a routerLink="/equipe" (click)="toggleMenu()">Desenvolvedores</a></li>
  </ul>
</nav>

<!-- Overlay -->
<div [class.active]="menuAberto" class="overlay" (click)="toggleMenu()"></div>

<!-- Cabeçalho -->
<header class="header">
  <div class="toolbar-custom">
    <div class="app-title">
      <h1>🎥 LumeNews</h1>
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  </div>
</header>

<!-- Conteúdo principal -->
<div class="conteudo">
  <section class="noticias-grid">
  <article class="noticia-card" *ngFor="let noticia of noticias">
  <img [src]="noticia.imagem" [alt]="noticia.titulo" />
  <div class="noticia-conteudo">
    <h3>{{ noticia.titulo }}</h3>
    <div class="data-publicacao">{{ noticia.data }} — {{ noticia.autor }}</div>
    <p>{{ noticia.conteudo }}</p>
  </div>
  <a
    class="trailer-link"
    [href]="noticia.trailerUrl"
    target="_blank"
    rel="noopener noreferrer"
    >▶ Assistir Trailer</a
  >
</article>

</section>

</div>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb-container">
  <a href="/login" title="Login">🏠</a>
  <span class="separator"></span>
  <a href="/home" title="Catálogo">🎬</a>
  <span class="separator"></span>
  <a href="/favoritos" title="Favoritos">⭐</a>
  <span class="separator"></span>
  <a href="/noticias" title="Notícias">📰</a>
  <span class="separator"></span>
  <a href="/perfil" title="Perfil">👤</a>
</nav>
