<!-- Sidebar lateral direita -->
<nav [class.active]="menuAberto" class="sidebar sidebar-right">
  <ul>
     <li><a routerLink="/" (click)="toggleMenu()">Buscar</a></li>
    <li><a routerLink="/equipe" (click)="toggleMenu()">Desenvolvedores</a></li>
  </ul>
</nav>

<!-- Sobreposição para fechar menu ao clicar fora -->
<div [class.active]="menuAberto" class="overlay" (click)="toggleMenu()"></div>

<!-- Cabeçalho fixo -->
<header class="header">
  <div class="toolbar-custom">
    <div class="app-title">
      <h1>Favoritos</h1>
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  </div>
</header>

<!-- Conteúdo da página de favoritos -->
<main class="conteudo">
  <div *ngIf="filmesFavoritos.length === 0" class="mensagem-vazia">
    Nenhum filme favoritado ainda.
  </div>

  <div class="filmes-grid">
    <div *ngFor="let filme of filmesFavoritos" class="filme-card">
      <img [src]="filme.imagem" [alt]="filme.titulo" />
      <h3>{{ filme.titulo }}</h3>
      <button (click)="removerFavorito(filme)" class="remover-btn">
        Remove
      </button>
    </div>
  </div>
</main>

<nav aria-label="breadcrumb" class="breadcrumb-container">
  <a href="/login">🏠</a>
  <span class="separator"></span>
  <a href="/home">🎬</a>
  <span class="separator"></span>
  <a href="/favoritos">⭐</a>
  <span class="separator"></span>
  <a href="/noticias">📰</a>
  <span class="separator"></span>
  <a href="/home">👤</a>
</nav>

