.equipe-content {
  --background: #121212;
  color: #fff;
}

ion-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff0000; // Tom de destaque tipo IMDb
}

.equipe-list {
  padding: 0 10px;
}

.equipe-item {
  --background: #1e1e1e;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 12px;
  color: #fff;

  ion-label h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
  }

  ion-label p {
    margin: 4px 0 0;
    font-size: 0.85em;
    color: #aaa;
  }
}

.voltar-link {
  margin-top: 20px;
  text-align: center;
  justify-content: center;

  a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }

  ion-icon {
    color: #000000;
    margin-right: 6px;
  }
}

.voltar-container {
  margin: 30px 16px 16px;
}

ion-button {
  --background: #000000;
  --color: #000;
  --border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.95rem;
}