<header class="header">
  <div class="toolbar">
    <h1 class="title">Integrantes</h1>
  </div>
</header>

<main class="equipe-content">
  <section class="equipe-list">
    <div class="equipe-item">
      <div class="avatar">
        <img src="assets/tonhao.jpg" alt="Antonio Luis" />
      </div>
      <div class="label">Antonio Luis</div>
    </div>

    <div class="equipe-item">
      <div class="avatar">
        <img src="assets/wel.jpg" alt="Welington Carvalho" />
      </div>
      <div class="label">Welington Carvalho</div>
    </div>

    <div class="equipe-item">
      <div class="avatar">
        <img src="assets/natan.jpg" alt="Natan" />
      </div>
      <div class="label">Natan</div>
    </div>

    <div class="equipe-item">
      <div class="avatar">
        <img src="assets/kaua integrante.jpg" alt="Kauã Alves nini" />
      </div>
      <div class="label">Kauã Alves</div>
    </div>
  </section>

  <div class="voltar-container">
    <button class="btn-voltar" (click)="voltarMenu()">
      ← Voltar ao Menu
    </button>
  </div>
</main>
